@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-space-grotesk);
  --font-mono: var(--font-jetbrains-mono);
}

body {
  background: #e6eef6;
  color: #0a2a3a;
  font-family: var(--font-mono);
}
